:root {
	--neutralShade0: #f8f8f8;
	--neutralShade1: #f2f2f2;
	--neutralShade2: #e8e9e9;
	--neutralShade3: #d1d3d4;
	--neutralShade4: #babdbf;
	--neutralShade5: #808488;
	--neutralShade6: #666a6d;
	--neutralShade7: #4d5052;
	--neutralShade8: #212122;
	--grayColor: #999;
	--lightGrayColor: #ddd;
	--borderRadius: 0.5rem;
	--boxShadow: 0 2px 5px rgba(#333, 0.2);
	--invalid: #e31920;
	--valid: #15fc4f;
}
