.header {
	height: 5rem;
	display: flex;
	padding: 1rem 1.25rem;
	justify-content: space-between;
	align-items: center;
	font-size: 1.25rem;
}



.logo {
	color: var(--foregroundColor);
	font-size: 1.4rem;
	font-variation-settings: 'wght' 800;
	/* width: 2.5rem; */
	/* height: 2.5rem; */
}

.links {
	display: flex;
	gap: 2rem;

	& a,
	& button {
		padding: 0.4em;
	}
}

.user {
	text-decoration: none;
}

.logout_in {
	text-decoration: none;
}
