.list {
	display: grid;
	grid-template-columns: repeat(4, 3rem);
	grid-auto-rows: 3rem;
	place-items: center;
	place-content: center;
	gap: 10px;
	list-style: none;
}

.item {
	font-size: 1.5rem;
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
}

.error {
	background-color: var(--invalid);
	color: white;
}

.found {
	background-color: var(--valid);
	color: white;
}

.select {
	background-color: var(--primaryColor);
	color: white;
}
